h1 {
	text-shadow: 1px 1px #ED1010;
	opacity: 0.5;
	font-family: sans-serif;
	font-size: 4em;
}
h2 {
	color: #170AB2;
	font-size: 2em;
	border-bottom: dotted;
	border-bottom-color: #ED1010;
}
footer {
	color: #170AB2;
	background-color: #15D0F5;
	font-family: Arial;
	padding: 10px;
	border: dashed;
	border-width: thin;
}
#notice {
	width: 80%;
	margin-left: 10%;
	text-align: center;
}
#feature {
	width: 80%;
	margin-left: 10%;
	color: red;
	background-color: #FFFFFF;
	text-shadow: 1px 1px #000000;
	font-size: small;
	font-family: Arial;
}